
@{
    ViewBag.Title = "Wizyty";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Wizyty</h2>

@Html.ActionLink("Umow wizyte", "UmowWizyte", "Lekarz", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Lista wizyt", "WyswietlKalendarz", "Lekarz", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Dodaj nowy termin", "DodajWolnyTerminWizyty", "Lekarz", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Powiadom o statusie wizyty", "PowiadomOStatusieWizyty", "Lekarz", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Odpowiedz na wezwanie do wizyty domowej", "OdpowiedzNaWezwanieDoWizytyDomowej", "Lekarz", new { @class = "btn btn-primary", @style = "color:white" })<br />