
@{
    ViewBag.Title = "Wizyty";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Wizyty</h2>

@Html.ActionLink("Umow wizyte", "Logout", "Home", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Lista wizyt", "Logout", "Home", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Dodaj nowy termin", "Logout", "Home", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Powiadom o statusie wizyty", "Logout", "Home", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Odpowiedz na wezwanie do wizyty domowej", "Logout", "Home", new { @class = "btn btn-primary", @style = "color:white" })<br />