
@{
    ViewBag.Title = "ZamowWizyteKonsultacyjna";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

<h2>Zamow wizyte konsultacyjna</h2>

@using (Html.BeginForm("ZamowWizyteKonsultacyjnaZatwierdz", "ZamowWizyteKonsultacyjna", FormMethod.Post))
{
    @Html.Label("Wybierz pacjenta:")  @Html.TextBox("Pacjent", "Lista pacjentow", new { @class = "form-control" })
    @Html.Label("Wybierz date:")  @Html.TextBox("Data", "Lista dat", new { @class = "form-control" })
    @Html.Label("Wybierz godzine:")  @Html.TextBox("Godzina", "Lista dostepnych godzin", new { @class = "form-control" })
    @Html.Label("Cel:")  @Html.TextBox("Cel", "", new { @class = "form-control" })
    @Html.Label("Dodatkowe uwagi:")  @Html.TextBox("Kodpocztowy", "", new { @class = "form-control" })
    <button type="submit">Zamow</button>
}