
@{
    ViewBag.Title = "WyswietlKartePacjentaWynik";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

@model SWPappPro.Models.KartaBadanieModel

@foreach (var item in Model.Karta_pacjenta)
{
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(modelItem => item.NUMER_KARTY)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.NUMER_KARTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(modelItem => item.DATA_ZALOZENIA)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.DATA_ZALOZENIA)
        </dd>

        <dt>
            Lekarz prowadzący:
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.LEKARZ.IMIE)
            @Html.DisplayFor(modelItem => item.LEKARZ.NAZWISKO)
        </dd>
    </dl>
</div>
}
<table class="table">
    <tr>
        <th>
            Data badania
        </th>
        <th>
            Rodzaj
        </th>
        <th>
            Wynik
        </th>
        <th>
            Lekarz zlecający
        </th>
    </tr>

    @foreach (var item in Model.Badanie)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DATA_BADANIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RODZAJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WYNIK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LEKARZ.IMIE)
                @Html.DisplayFor(modelItem => item.LEKARZ.NAZWISKO)
            </td>
        </tr>
    }

</table>