@model IEnumerable<SWPappPro.Models.POWIADOMIENIE>
@{
    ViewBag.Title = "OdczytajPowiadomienie";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

<h2>Odczytaj powiadomienie</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LEKARZ.IMIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEKARZ.NAZWISKO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LEKARZ.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LEKARZ.NAZWISKO)
            </td>
            <td>
                @Html.ActionLink("Szczegoly", "OdczytajPowiadomienieSzczegoly", new { id = item.POWIADOMIENIE_ID }) | @Html.ActionLink("Usun", "OdczytajPowiadomienieUsun", new { id = item.POWIADOMIENIE_ID })
            </td>
        </tr>
    }
    </table>