
@{
    ViewBag.Title = "OdczytajPowiadomienieSzczegolyWizytyDom";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

@model SWPappPro.Models.WIZYTA_DOMOWA
<br />
<h3>Szczegoły wizyty:</h3>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Imię lekarza
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEKARZ.IMIE)
        </dd>

        <dt>
            Nazwisko lekarza
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEKARZ.NAZWISKO)
        </dd>
        <dt>
            Miejscowość
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MIEJSCOWOSC)
        </dd>
        <dt>
            Ulica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ULICA)
        </dd>

        <dt>
            Kod pocztowy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KOD_POCZTOWY)
        </dd>

        <dt>
            Numer domu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_DOMU)
        </dd>

        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TERMINARZ.DATA)
        </dd>
        <dt>
            Godzina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TERMINARZ.GODZINA)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Powrót", "OdczytajPowiadomienie")
</p>
