@model SWPappPro.Models.WIZYTA_KONSULTACYJNA
@{
    ViewBag.Title = "OdczytajPowiadomienieSzczegolyWizytyKon";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

<br />
<h3>Szczegoły wizyty:</h3>
<br />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEL)
        </dd>

        <dt>
            Dodatkowe uwagi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DODATKOWE_UWAGI)
        </dd>

        <dt>
            Numer gabinetu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GABINET.NR)
        </dd>
        <dt>
            Numer budynku
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GABINET.BUDYNEK)
        </dd>

        <dt>
            Imie lekarza
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEKARZ.IMIE)
        </dd>

        <dt>
            Nazwisko lekarza
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEKARZ.NAZWISKO)
        </dd>

        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TERMINARZ.DATA)
        </dd>
        <dt>
            Godzina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TERMINARZ.GODZINA)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Powrót", "OdczytajPowiadomienie")
</p>