@model IEnumerable<SWPappPro.Models.WIZYTA_DOMOWA>
@{
    ViewBag.Title = "OdpowiedzNaWezwanieDoWizytyDomowej";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<br />
<h3>Wybierz wizytę:</h3>
<br />

<table class="table">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Miejscowość
        </th>
        <th>
            Ulica
        </th>
        <th>
            Numer domu
        </th>
        <th>
            Data
        </th>
        <th>
            Godzina
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PACJENT.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PACJENT.NAZWISKO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MIEJSCOWOSC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ULICA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NR_DOMU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TERMINARZ.DATA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TERMINARZ.GODZINA)
            </td>
            <td>
                @Html.ActionLink("Odpowiedz", "OdpowiedzNaWezwanieDoWizytyDomowejFormularz", new { id_w = item.WIZYTA_DOMOWA_ID, id_p = item.PACJENT_ID })
            </td>
        </tr>
    }
</table>