@model IEnumerable<SWPappPro.Models.WIZYTA_DOMOWA>
@{
    ViewBag.Title = "OdpowiedzNaWezwanieDoWizytyDomowej";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Powiadom o statusie wizyty domowej:</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PACJENT.IMIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PACJENT.NAZWISKO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERMINARZ.DATA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MIEJSCOWOSC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ULICA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NR_DOMU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERMINARZ.DATA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERMINARZ.GODZINA)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PACJENT.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PACJENT.NAZWISKO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TERMINARZ.DATA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MIEJSCOWOSC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ULICA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NR_DOMU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TERMINARZ.DATA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TERMINARZ.GODZINA)
            </td>
            <td>
                @Html.ActionLink("Odpowiedz", "OdpowiedzNaWezwanieDoWizytyDomowejFormularz", new { id_w = item.WIZYTA_DOMOWA_ID, id_p = item.PACJENT_ID })
            </td>
        </tr>
    }
</table>