@model SWPappPro.Models.WIZYTA_KONSULTACYJNA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WIZYTA_KONSULTACYJNA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DODATKOWE_UWAGI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DODATKOWE_UWAGI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GABINET.NR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GABINET.NR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LEKARZ.IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEKARZ.IMIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACJENT.IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACJENT.IMIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TERMINARZ.TERMINARZ_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TERMINARZ.TERMINARZ_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WIZYTA_KONSULTACYJNA_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
