@model SWPappPro.Models.BADANIE

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BADANIE</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DATA_BADANIA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_BADANIA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DATA_BADANIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RODZAJ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RODZAJ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RODZAJ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WYNIK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WYNIK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WYNIK, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.BADANIE_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.KARTA_PACJENTA_ID, "KARTA_PACJENTA_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KARTA_PACJENTA_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KARTA_PACJENTA_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LEKARZ_ZLECAJACY, "LEKARZ_ZLECAJACY", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LEKARZ_ZLECAJACY", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LEKARZ_ZLECAJACY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
