@model IEnumerable<SWPappPro.Models.BADANIE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATA_BADANIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RODZAJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WYNIK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KARTA_PACJENTA.NUMER_KARTY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEKARZ.IMIE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_BADANIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RODZAJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WYNIK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KARTA_PACJENTA.NUMER_KARTY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LEKARZ.IMIE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BADANIE_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BADANIE_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BADANIE_ID })
        </td>
    </tr>
}

</table>
