@model SWPappPro.Models.LEKARZ

@{
    ViewBag.Title = "AktualizujSwojProfil";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Aktualizuj profil</h2>


@using (Html.BeginForm("AktualizujSwojProfilZatwierdz", "AktualizujSwojProfil", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LEKARZ</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LEKARZ_ID)
        @Html.HiddenFor(model => model.IMIE)
        @Html.HiddenFor(model => model.NAZWISKO)
        @Html.HiddenFor(model => model.SPECJALIZACJA)
        @Html.HiddenFor(model => model.PESEL)
        @Html.HiddenFor(model => model.DATA_URODZENIA)
        <div class="form-group">
            @Html.LabelFor(model => model.SPECJALIZACJA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SPECJALIZACJA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SPECJALIZACJA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NR_LICENCJI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NR_LICENCJI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NR_LICENCJI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HASLO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HASLO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HASLO, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>
        <div><button type="submit">Aktualizuj</button></div>
        }
