@model SWPappPro.Models.LEKARZ

@{
    ViewBag.Title = "AktualizujSwojProfil";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h3>Aktualizuj swoj profil:</h3>


@using (Html.BeginForm("AktualizujSwojProfilZatwierdz", "AktualizujSwojProfil", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LEKARZ_ID)
        @Html.HiddenFor(model => model.IMIE)
        @Html.HiddenFor(model => model.NAZWISKO)
        @Html.HiddenFor(model => model.SPECJALIZACJA)
        @Html.HiddenFor(model => model.PESEL)
        @Html.HiddenFor(model => model.DATA_URODZENIA)

        <div class="form-group">
            @Html.Label("Specjalizacja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SPECJALIZACJA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SPECJALIZACJA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Numer licencji", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NR_LICENCJI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NR_LICENCJI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hasło", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HASLO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HASLO, "", new { @class = "text-danger" })
            </div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Zatwierdz</button>
            </div>
        </div>
            </div>
 }
