@model IEnumerable<SWPappPro.Models.POWIADOMIENIE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NUMER_POWIADOMIENIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEKARZ.IMIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PACJENT.IMIE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NUMER_POWIADOMIENIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LEKARZ.IMIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PACJENT.IMIE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.POWIADOMIENIE_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.POWIADOMIENIE_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.POWIADOMIENIE_ID })
        </td>
    </tr>
}

</table>
