@model IEnumerable<SWPappPro.Models.LEKARZ>
@{
    ViewBag.Title = "WystawOpinie";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}
<br />
<h3>Wybierz lekarza z listy:</h3>
<br />
<table class="table">
    <tr>
        <th>
            Imie
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Specjalizacja
        </th>
        <th>
            Numer licenecji
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAZWISKO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SPECJALIZACJA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NR_LICENCJI)
            </td>
            <td>
                @Html.ActionLink("Wystaw opinie", "WystawOpinieFormularz", new { id = item.LEKARZ_ID })
            </td>
        </tr>
    }

</table>