@model IEnumerable<SWPappPro.Models.LEKARZ>

@{
    ViewBag.Title = "OcenLekarza";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

<br />
<h3>Wybierz lekarza:</h3>
<br />

<table class="table">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Specjalizacja
        </th>
        <th>
            Numer licencji
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAZWISKO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SPECJALIZACJA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NR_LICENCJI)
            </td>
            <td>
                @Html.ActionLink("Ocen lekarza", "OcenLekarzaForm", new { id = item.LEKARZ_ID }) |
            </td>
        </tr>
    }

</table>