@model SWPappPro.Models.OPINIA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OPINIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NUMER_OPINII)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMER_OPINII)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OCENA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OCENA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LEKARZ.IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEKARZ.IMIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACJENT.IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACJENT.IMIE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OPINIA_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
