@model IEnumerable<SWPappPro.Models.WIZYTA_KONSULTACYJNA>
@{
    ViewBag.Title = "PowiadomOStatusieWizyty";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<br />
<h3>Wybierz wizytę:</h3>
<br />
<table class="table">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Data
        </th>
        <th>
            Godzina
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LEKARZ.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PACJENT.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TERMINARZ.DATA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TERMINARZ.GODZINA)
            </td>
            <td>
                @Html.ActionLink("Powiadom", "PowiadomOStatusieWizytyFormularz", new { id = item.WIZYTA_KONSULTACYJNA_ID , id_p=item.PACJENT_ID })
            </td>
        </tr>
    }
</table>