@model SWPappPro.Models.KalendarzModel
@{
    ViewBag.Title = "WyswietlKalendarz";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}
<br />
<h3>Lista wolnych terminów:</h3>
<br />
<div>
    
    <table class="table">
        <tr>
            <th>
                Data
            </th>
            <th>
                Godzina
            </th>
        </tr>

        @foreach (var item in Model.Terminarz)
        {
            if (Model.Wizyta_konsultacyjnaStala.Where(i => i.TERMINARZ_ID == item.TERMINARZ_ID).FirstOrDefault() == null)
            {
                if (Model.Wizyta_domowaStala.Where(i => i.TERMINARZ_ID == item.TERMINARZ_ID).FirstOrDefault() == null)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DATA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GODZINA)
                </td>
            </tr>
                }
            }
        }
    </table>
</div>
@if (Model.Wizyta_konsultacyjna != null)
{
<div>
    <table class="table">
        <tr>
            <th>
                Imię:
            </th>
            <th>
                Nazwisko:
            </th>
            <th>
                PESEL:
            </th>
            <th>
                Cel wizyty:
            </th>
            <th>
                Dodatkowe uwagi:
            </th>
        </tr>

        @foreach (var item in Model.Wizyta_konsultacyjna)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PACJENT.IMIE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PACJENT.NAZWISKO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PACJENT.PESEL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CEL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DODATKOWE_UWAGI)
                </td>
            </tr>
        }
    </table>
</div>
}