
@{
    ViewBag.Title = "ZamowWizyteDomowa";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

@model IEnumerable<SWPappPro.Models.LEKARZ>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IMIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZWISKO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPECJALIZACJA)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IMIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAZWISKO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SPECJALIZACJA)
            </td>
            <td>
                @Html.ActionLink("Wybierz", "ZamowWizyteDomowaData", new { id = item.LEKARZ_ID })
            </td>
        </tr>
    }

</table>
