@model SWPappPro.Models.PACJENT
@{
    ViewBag.Title = "AktualizujProfilPacjenta";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

<br />
<h3>Aktualizuj swoj profil:</h3>
<br />
@using (Html.BeginForm("AktualizujProfilPacjentaZatwierdz", "AktualizujProfilPacjenta", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PACJENT_ID)
        @Html.HiddenFor(model => model.IMIE)
        @Html.HiddenFor(model => model.NAZWISKO)
        @Html.HiddenFor(model => model.PESEL)
        @Html.HiddenFor(model => model.MIEJSCE_URODZENIA)
        @Html.HiddenFor(model => model.DATA_URODZENIA)
        <div class="form-group">
            @Html.Label("Ulica", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ULICA_ZAMIESZKANIA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ULICA_ZAMIESZKANIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Miejscowość", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MIEJSCOWOSC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MIEJSCOWOSC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Kod pocztowy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KOD_POCZTOWY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KOD_POCZTOWY, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Adres e-mail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ADRES_E_MAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ADRES_E_MAIL, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Numer telefonu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NR_TELEFONU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NR_TELEFONU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hasło", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HASLO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HASLO, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" class="btn btn-primary">Zatwierdz</button>
            </div>
        </div>
    </div>
        
}