@model IEnumerable<SWPappPro.Models.WIZYTA_DOMOWA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ULICA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KOD_POCZTOWY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NR_DOMU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MIEJSCOWOSC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEKARZ.IMIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PACJENT.IMIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERMINARZ.TERMINARZ_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ULICA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KOD_POCZTOWY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NR_DOMU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MIEJSCOWOSC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LEKARZ.IMIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PACJENT.IMIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERMINARZ.TERMINARZ_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WIZYTA_DOMOWA_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WIZYTA_DOMOWA_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WIZYTA_DOMOWA_ID })
        </td>
    </tr>
}

</table>
