@model SWPappPro.Models.KARTA_PACJENTA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KARTA_PACJENTA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NUMER_KARTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMER_KARTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_ZALOZENIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_ZALOZENIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LEKARZ.IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEKARZ.IMIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACJENT.IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACJENT.IMIE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KARTA_PACJENTA_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
