@model IEnumerable<SWPappPro.Models.KARTA_PACJENTA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NUMER_KARTY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA_ZALOZENIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEKARZ.IMIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PACJENT.IMIE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NUMER_KARTY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_ZALOZENIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LEKARZ.IMIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PACJENT.IMIE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KARTA_PACJENTA_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KARTA_PACJENTA_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KARTA_PACJENTA_ID })
        </td>
    </tr>
}

</table>
