
@{
    ViewBag.Title = "Wizyty";
    Layout = "~/Views/Shared/_PacjentLayout.cshtml";
}

<h2>Wizyty</h2>

@Html.ActionLink("Zamow wizyte domowa", "ZamowWizyteDomowa", "Pacjent", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Zamow wizyte konsultacyjna", "ZamowWizyteKonsultacyjna", "Pacjent", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Odczytaj powiadomienie", "OdczytajPowiadomienie", "Pacjent", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Przeplanuj wizyte", "PrzeplanujWizyte", "Pacjent", new { @class = "btn btn-primary", @style = "color:white" })<br />
@Html.ActionLink("Historia wizyt", "WyswietlHistorieWizyt", "Pacjent", new { @class = "btn btn-primary", @style = "color:white" })<br />