@model SWPappPro.Models.PACJENT

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LekarzLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PACJENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAZWISKO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWISKO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PESEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PESEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_URODZENIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_URODZENIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MIEJSCE_URODZENIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MIEJSCE_URODZENIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ULICA_ZAMIESZKANIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ULICA_ZAMIESZKANIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MIEJSCOWOSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MIEJSCOWOSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KOD_POCZTOWY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KOD_POCZTOWY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRES_E_MAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRES_E_MAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_TELEFONU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_TELEFONU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HASLO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HASLO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
